############# GENERIC##############################

bool ignoreOnlinePlotter False
int reduceCpu  2
bool parseFileCreated True
bool runCases True
bool checkDeck True
bool runParallel False

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True
bool combineAllCases True

#############PATHS################################


string trnsysExePath "C:\TRNSYS18\Exe\TrnEXE.exe"
string addResultsFolder "Building_4Study"
string HOME$ .
string PYTRNSYS$ "{{pytrnsys_ddck_folder}}"
string runType "runFromConfig"


deck dtSim 1
deck START 0
deck STOP 8760

PYTRNSYS$ generic\head
HOME$ Building_4Study
HOME$ weather_data_base_2
HOME$ Type_985
HOME$ Ground_properties
HOME$ 01_Weather_Data\Kasava_hour
PYTRNSYS$ generic\end
