*pyc
/build/
/docs/_static/
/docs/_build/
/docs/_templates
/.idea/
*gz
*.orig
**/.idea/

docs/README.md
/ddck/building/type56/database/files/T44A38sfh045.inf
/ddck/building/type56/database/files/T44A38sfh100.inf
