/.idea/


/test-results/
/.coverage

**/__pycache__/

venv
venv312

# setuptools' setup.py and twine/PyPI related stuff
/.eggs/
/build/
/dist/
/pytrnsys.egg-info/
/pytrnsys/.idea/.gitignore
/pytrnsys/.idea/inspectionProfiles/profiles_settings.xml
/pytrnsys/.idea/misc.xml
/pytrnsys/.idea/modules.xml
/pytrnsys/.idea/pytrnsys.iml
/pytrnsys/.idea/vcs.xml
/venv_pytrnsys/
