############# GENERIC #############################
bool ignoreOnlinePlotter False
bool autoCloseOnlinePlotter False
bool removePopUpWindow False
int reduceCpu 4
bool parseFileCreated False
bool runCases True
bool checkDeck True
string outputLevel 'INFO'
string runType 'runFromConfig'
string nameRef 'dual_loop'

############# AUTOMATIC WORK BOOL##################
bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

############# PATHS ###############################
string pathToConnectionInfo './DdckPlaceHolderValues.json'
string trnsysExePath 'C:/Trnsys18/Exe/TRNExe.exe'
string projectPath '.'
string DDCK$ 'ddck'
string COMMON$ '..\common_ddcks'

############# SCALING #############################
string scaling 'False'

############# PARAMETRIC VARIATIONS ###############
bool combineAllCases  True
variation AcollAp 2 3 4 6 8 10
variation volPerM2Col 75 100
changeDDckFile CityBAS_dryK CityBAS_dryK CityCDF_dryK CityLUG_dryK

############# ADJUSTED VARIABLE IN DCK ###############
deck START 0
deck STOP 10
deck dtSim 1

############# INCLUDE DDCKS #######################
DDCK$ generic/head global
DDCK$ hydraulic/hydraulic_dual_loop global
DDCK$ control/hydraulic_control_dual_loop global
COMMON$ Ashp/HP08L-M-BC_local as Ashp
COMMON$ Ashp/type977_dummy as Ashp
COMMON$ Ashp/HP08L-M-BC_local as Ashp3
COMMON$ Ashp/type977_dummy as Ashp3
COMMON$ pv\type194
COMMON$ pv\database\sunskin_roof_module_eternit
COMMON$ pv\database\fronius_symo_inverter
DDCK$ IceS/type861_dummy
COMMON$ Rad/Rad_placeholder as Rad
COMMON$ weather/SMA_hourlyMean
COMMON$ weather/weather_data_base
assign temp\Ashp_MO.Prt AshpunitPrintHpCool
assign temp\Ashp_COOL_HR.Prt AshpunitHourlyHpCool
assign temp\Ashp3_MO.Prt Ashp3unitPrintHpCool
assign temp\Ashp3_COOL_HR.Prt Ashp3unitHourlyHpCool
DDCK$ generic/end
