############# GENERIC##############################
bool ignoreOnlinePlotter  True
int reduceCpu  1
bool parseFileCreated True
bool runCases True
bool checkDeck True

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"
string addResultsFolder "pv_system"
string PYTRNSYS$ "..\..\pytrnsys_ddck"

################SCALING#########################

string scaling "False" #"toDemand"
string nameRef "pv_system"
string runType "runFromConfig"


#############PARAMETRIC VARIATIONS##################

bool combineAllCases True

#############FIXED CHANGED IN DDCK##################

deck START 0    # 8760-744 4354 4344 is july first, 5088 is august first
deck STOP  8760 # 8760*2
deck myPelSystem_kW 0
deck numModPvRoof 30
variation CBat CapBatMaxT0_kWh 2 4 6 8 10


#############CHANGES OF DDCK##################
PYTRNSYS$ generic\head
PYTRNSYS$ demands\electricity\elDemand
PYTRNSYS$ weather\weather_data_base
PYTRNSYS$ weather\MeteoSwiss\SMA\SMA_hourly
PYTRNSYS$ pv\type194\type194
PYTRNSYS$ pv\type194\database\sunskin_roof_module_eternit
PYTRNSYS$ pv\type194\database\fronius_symo_inverter
PYTRNSYS$ battery\basic_battery
PYTRNSYS$ generic\end
