############# GENERIC #############################
bool ignoreOnlinePlotter True
bool autoCloseOnlinePlotter True
bool removePopUpWindow False
int reduceCpu 4
bool parseFileCreated False
bool runCases True
bool checkDeck True
string outputLevel 'INFO'
string runType 'runFromConfig'
string nameRef 'dummies_only'

############# AUTOMATIC WORK BOOL##################
bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance False

############# PATHS ###############################
string pathToConnectionInfo '../source_sink_and_TES/DdckPlaceHolderValues.json'
string trnsysExePath 'C:/Trnsys18/Exe/TRNExe.exe'
string projectPath '.'
string DDCK$ '../source_sink_and_TES/ddck'
string addResultsFolder 'results'

############# SCALING #############################
string scaling 'False'

############# PARAMETRIC VARIATIONS ###############

############# ADJUSTED VARIABLE IN DCK ###############
deck START 0
deck STOP 10
deck dtSim 1

############# INCLUDE DDCKS #######################
DDCK$ generic/head global
DDCK$ hydraulic/hydraulic global
DDCK$ control/hydraulic_control global
DDCK$ HtSt/two_port_dummy
DDCK$ QSnk/two_port_dummy
DDCK$ QSrc/two_port_dummy
DDCK$ generic/end
