# TRNSYS execution parameters
bool ignoreOnlinePlotter True #ignroes the online plotter type
bool removePopUpWindow False  #hides the windows that opens when a simulation starts and then the one that shows the running time of TRNSYS
int reduceCpu  2

##################PATHS##################

string PROJECT$ "C:\GIT\pytrnsys_gui\data\examples\TRIHP_dualSource\ddck"
string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe" # define your TRNSYS executable
#string addResultsFolder "DualSourceDesuperheater" #It adds a folder into the path defined in the main python executable. Why not here?
string projectPath "C:\GIT\pytrnsys_gui\data\examples\TRIHP_dualSource"
string nameRef "TRIHP_dualSource"
string pathBaseSimulations "C:\Daten\GIT\pytrnsys_gui\trnsysGUI\examples\TRIHP_dualSource"

#VARIATIONS FOR PARALLEL RUNNING. By default all combinations are simulated. Other methods are implemented at python level but not at config file yet.
#bool combineAllCases True
#variation LGHX lGhxProbes 300 400 500
#changeDDckFile CitySMA_dryN  CityDAV_dryN CityGVE_dryN

#FIXED NAMES CHANGED IN DECKS

string scaling "off" #"toDemand"
string runType "runFromConfig"

# Static variables changes in dck
deck START 2880
deck STOP 4000
deck Vol_Tes2 2
deck Vol_Tes1 2
deck PrecondON 1
deck nYearsPre 5
deck sizeHpUsed 26

#############USED DDCKs##################

PROJECT$ generic\head
PROJECT$ control\Control-TriHpDesuperheater_V2
PROJECT$ control\type1215
PROJECT$ Dhw\Dhw
PROJECT$ FCU\FCU_T928
PROJECT$ generic\battery_T1217
PROJECT$ generic\fronius_symo_inverter
PROJECT$ generic\PrinterMonthlyElectric
PROJECT$ generic\PrinterQvsT-GSHP-Desuperheater
PROJECT$ generic\sunskin_roof_module_eternit
PROJECT$ generic\type194
PROJECT$ Ghx\ghx_2x2_5m
PROJECT$ Ghx\type951
PROJECT$ HP\dualSourceDualSinkCtrl
PROJECT$ HP\propaneDualSource_FitT983
PROJECT$ HP\type983
PROJECT$ HxCool\const_eff_hx
PROJECT$ HxDHW\const_eff_hx_dhw_contr
PROJECT$ hydraulic\hydraulic
PROJECT$ RadiatorSH\type1792
PROJECT$ SH\SH
PROJECT$ tapWater\dhw_mfh_ES
PROJECT$ tapWater\elDemand_ES
PROJECT$ weather\CityTGN
PROJECT$ weather\internal_gains_ES
PROJECT$ weather\type5998_ES
PROJECT$ weather\weather_data_base
PROJECT$ weather\database\mfb_Tarragona
PROJECT$ generic\end
