############# GENERIC##############################

bool ignoreOnlinePlotter  True
int reduceCpu  1
bool parseFileCreated True
bool runCases True
bool checkDeck True

############# AUTOMATIC WORK BOOL##############################

bool doAutoUnitNumbering True
bool generateUnitTypesUsed True
bool addAutomaticEnergyBalance True

#############PATHS################################

string trnsysExePath "C:\Trnsys17\Exe\TRNExe.exe"
string addResultsFolder "SolarDHW"

string HOME$ "C:\Daten\GIT\TriHpTrnsysDDeck"
string SPF$ "C:\Daten\GIT\spfTrnsysFiles"
string LOCAL$ "C:\Daten\GIT\SolTherm2050Ddck\"

################SCALING#########################

string scaling "False" #"toDemand"
#string pathRef "C:\Daten\OngoingProject\BigIce\Simulations\BICE-HydD_circ-8Cities-Ref"
#string nameRef "BICE-HydD_circ-Ac136.4-Vice27.3-MFH"

######## if RunFromCases = True
string runType "runFromConfig"

####### if runType = "runFromCases"
#string fileWithCasesToRun "TestCases.txt"
#string pathWithCasesToRun "C:\Daten\OngoingProject\BigIce\Simulations\Cooling\TestCooling"
####### if runType = "runFromPath"
#string pathFolderToRun "C:\Daten\OngoingProject\BigIce\Simulations\GSHPCity-failed"
####### if runType = "runFromConfig"

#############PARAMETRIC VARIATIONS##################

bool combineAllCases True
variation Ac AcollAp 10 15 20
variation VTes colPerM2Col 75 100

#############FIXED CHANGED IN DDCK##################

deck START 0    # 8760-744 4354 4344 is july first, 5088 is august first
deck STOP  8760 # 8760*2

#deck Vol_Tes1 string 75*AcollAp

#############CHANGES OF DDCK##################

HOME$ Generic\Head
HOME$ DemandsDHW\DHW-MFH
HOME$ weatherData\WeatherDataBase
HOME$ weatherData\SIA\Normal\CityKLO_dryN
HOME$ SolarCollector\SolarCollector
HOME$ SolarCollector\uncoveredSelectiveESSA
HOME$ Control\Control-DemoDhw
HOME$ Tes\Type1924_DHW
HOME$ Hydraulics\DHWSPFExampleBkp
HOME$ Generic\End
