bool processParallel False
#bool avoidUser True
bool processQvsT True
#bool maxMinAvoided False
bool cleanModeLatex False
bool forceProcess  True #even if results file exist it proceess the results, otherwise it checks if it exists
bool setPrintDataForGle True

string figureFormat 'png'
#########
int yearReadedInMonthlyFile -1
int firstMonthUsed 0     # 0=January 1=February 6=July 7=August
int reduceCpu 1
#########
string typeOfProcess "completeFolder" # "casesDefined"
#string typeOfProcess "casesDefined"

#string caseProcessed "SolarDHW"
#string pathBase "C:\Daten\OngoingProject\SolTherm2050\Simulations\SolarDHW"

string latexNames ".\latexNames.json"
string inkscape "C:\Program Files\Inkscape\inkscape.exe"
bool plotEmf True

calc ownConsumptionRate = (PelPVRoof_kW_Tot-PvToGrid_kW_Tot)/PelPVRoof_kW_Tot

string pathBase "C:\Daten\GIT\pytrnsys\examples\pv_battery\pv_system"


stringArray results "ownConsumptionRate"  "CapBatMaxT0_kWh" "PowerPeakPV_kWp" # values to be plotted (hourly)

stringArray comparePlot "CapBatMaxT0_kWh" "ownConsumptionRate"

#stringArray plotT "T10_Tes1"
